#documento{
    font-family: 'Roboto', sans-serif;
}
#cuerpo{
background-color:#000000;
color:aliceblue;
}
.a{
    color:white;
    text-decoration: none;
}
#logo{
    font-size:5em ;
}
#buscar {
    font-size: 2em;
    color: #ffffff; 
    background-color: black;
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); 
    transition: background-color 0.3s ease; 
  }
  
#buscar:hover {
    background-color: #333333; 
  }
#navbar{
    display: flex;
    justify-content: space-around ;
    align-items: center;   
}

.ambasimagenes{
    display: flex;
}
.imagenfashion{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease;
}
.imagenfashion:hover {
    opacity: 0.7;
}
.textofashion{
    align-items: center;
    position: absolute;
    color:white;
    text-decoration: none; 
}
.imagendeporte{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease;
}
.imagendeporte:hover {
    opacity: 0.7;
}
.textodeporte{
    align-items: center;
    position: absolute;
    color:white;
    text-decoration: none;
}
#video{
    margin-top: -4px;
}
.pepa{
    margin-top: 30px;
    font-size: 50%;
}
#footer{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}
.tamaño{
    font-size: 250%;
    flex-direction: column;
    
}
#fila1{
    display: flex;
    justify-content: space-evenly;

}
#fila2{
    display: flex;
    justify-content: space-evenly;
}
#fila3{
    display: flex;
    justify-content: space-evenly;
}
.publicacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: calc(33.33% - 20px);
    margin: 10px; 
}
.p{
    font-size: 2em;
}
.preguntas{
    margin-top:50px;
    margin-right: 10px;
    margin-left: 15px;
    margin-bottom: 50px;
}
#frequent{
    margin-top: 50px;
    font-size: 70px;
    margin-bottom: 30px;
    margin-right: 10px;
    margin-left: 15px;  
}
#about{
    margin-top:100px ;
    margin-bottom: 200px;
    margin-right: 10px;
    margin-left: 15px;
}
.parrafo{
    margin-top: 40px;
}
#holis{
    font-size: 70px;
}
#locaciones{
  display: flex;
  justify-content: center;
  height: 50%;
  margin-top: 50px;
  margin-bottom: 50px;
}
#locaciones img {
    max-width: 50%; 
    max-height: 50%;
}
.boton{
    border: 2px;
    padding: 10px 20px;
    color: black;
    background-color: white;
}
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background-color: black;
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    z-index: 9999;
}
  
.popup form input[type="text"],
.popup form input[type="email"],
.popup form input[type="date"],
.popup form select,
.popup form textarea {
    background-color: rgb(0, 0, 0);
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    width: calc(100%);
}
  
  
.popup button {
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 20px;
    cursor: pointer;
}
  
.popup button:hover {
    background-color: #ddd;
}
.popup form input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert();
}
#menuItems {
    display: none;
    background-color: black;
    padding: 0;
    list-style: none;
    padding-left: 10px;
    position: absolute;
    z-index: 9999;
}
  
#menuItems.active {
    display: block;
}
  
#menuItems li {
    padding: 10px;
}
  
#menuItems li a {
    color: white;
    text-decoration: none;
    
}
  
#menuItems li a:hover {
    text-decoration: none;
}
#menuBtn {
    font-size: 2em;
    color: #ffffff; 
    background-color: black;
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); 
    transition: background-color 0.3s ease; 
}
  
#menuBtn:hover, #buscar:hover {
    background-color: #333333; 
  }
.boton-menu {
    display: block;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}
  
.boton-menu:hover {
    background-color: #333333;
}
#comentario{
    margin-top: 40px;
    margin-left: 10px;
}
.countdown {
    text-align: center;
    margin: 200px;
}
  
#codito {
    font-size: 40px;
    margin: 10px 0;
}
  
#days {
    font-size: 40px;
    font-weight: bold;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border-radius: 4px;
}
  
  
@media only screen and (max-width: 992px) {
    #menuBtn {
        font-size: 1em;
        padding: 8px; 
      }
    #logo{
        font-size: 2em;
    }
    #buscar{ 
        font-size:1em;
    }
    #fila1{
        flex-direction: column;
    }
    #fila2{
        flex-direction: column;
    }
    #fila3{
        flex-direction: column;
    }
    #locaciones img {
        max-width: 80%; 
        max-height: 80%;
    }
}
  


