html{
    font-family: 'Roboto', sans-serif;
}
body{
background-color:#000000;
color:aliceblue;
margin: 0;
}
#head{
    padding: 0px;
    margin-top: 0px;
    background-color:black;
    
}
a{
    color:white;
    text-decoration: none;
}
#menu{
    font-size: 40px;
}
#logo{
    font-size:50px ;
}
#buscar{ 
    font-size: 40px;
    
}
#modelo{
    margin-left: 0px;
    position:sticky;
    display:block;
    float: left;
}
#deportista{
    margin-right: 0px;
    position:sticky;     
}

#navbar{
    display: flex;
    justify-content: space-between ;
    align-items: center;
}
.imagenes{
    position: relative;
}
.Textofashion{
    position: absolute;
    margin-top: 25%;
    margin-left: 18%;
    font-size: 350%;

}
.pepa{
    margin-top: 30px;
}
#footer{
    display: flex;
    justify-content: space-around;
}


