html{
    font-family: 'Roboto', sans-serif;
}
body{
background-color:#000000;
color:aliceblue;
}
a{
    color:white;
    text-decoration: none;
}
#menu{
    font-size: 50px;
}
#logo{
    font-size:70px ;
}
#buscar{ 
    font-size: 40px;
    
}
#navbar{
    display: flex;
    justify-content: space-between ;
    align-items: center;
}

.ambasimagenes{
    display: flex;
}
.imagenfashion{
    display: flex;
    justify-content: center;
    align-items: center;
}
.textofashion{
    align-items: center;
    position: absolute;
    font-size: 200%;
}
.imagendeporte{
    display: flex;
    justify-content: center;
    align-items: center;
}
.textodeporte{
    align-items: center;
    position: absolute;
    font-size: 200%;
}
#video{
    margin-top: -4px;
}
.pepa{
    margin-top: 30px;
    font-size: 150%;
}
#footer{
    display: flex;
    justify-content: space-around;
}
.tamaño{
    font-size: 250%;
}


